// Reset
body, div, h1,p,img, input, label  {
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
  &::after, &::before {
    box-sizing: border-box;
  }
}
img {
  display: block;
  width: 100%;
}
